<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/sero-cash/sero-flight-wallet/master/app/pkg/v0.1.0-beta.1/flight.sero.cash-v010-beta1-ios-signed-pgy.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/sero-cash/sero-flight-wallet/master/app/pkg/res/58x58.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/sero-cash/sero-flight-wallet/master/app/pkg/res/192x192.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>io.dcloud.W2Aflight.sero.cash</string>
                <key>bundle-version</key>
                <string>v0.1.0-beta.1</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>SERO Flight</string>
            </dict>
        </dict>
    </array>
</dict>
